asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cloudinary==1.40.0
colorama==0.4.6
cryptography==46.0.6
dj-database-url==3.0.1
psycopg2-binary==2.9.9
Django==4.2.7
django-allauth==0.63.3
django-cloudinary-storage==0.3.0
django-crispy-forms==2.1
django-js-asset==2.2.0
django-mptt==0.16.0
docx2pdf==0.1.8
gunicorn==21.2.0
idna==3.11
lxml==6.0.2
Pillow==11.3.0
pycparser==2.23
PyJWT==2.12.1
reportlab==4.4.10
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.5.0
resend==2.29.0

# Instala todas las dependencias del proyecto con:
# pip install -r requirements.txt