{% extends "solicitudes/indexpadre.html" %}

{% block title %}
Crear Equipo
{% endblock %}

{% block content %}
<div class="container-crear_equipo">
    <h1>Crear Equipo</h1>
    <p>Selecciona la ubicación donde se encuentra este equipo y, si corresponde, el equipo padre dentro del cual depende.</p>
    <form id="form-equipo" method="post" action="{% url 'crear_equipo' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'lista_activos' %}" class="btn btn-danger">Cancelar</a>
    </form>
</div>


{% endblock %}

