body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: flex-end; /* Alinea el contenedor a la derecha */
    align-items: stretch; /* Asegura que el contenedor blanco se estire desde el borde superior al inferior */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.login-box {
    width: 30%; /* Puedes ajustar este valor según lo que necesites */
    background-color: white;
    height: 100%; /* Asegura que abarque toda la altura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra para resaltar el contenedor */
    display: flex;
    flex-direction: column; /* Ajusta el contenido interno si es necesario */
    padding: 20px;
}


.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    margin-bottom: 10px;
}

.social-login .btn {
    margin-bottom: 10px;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-google {
    background-color: #db4437;
}

.btn-microsoft {
    background-color: #2b579a;
}